@using FuelStation.Web.Blazor.Client.Extensions;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        <AuthorizeView>
        <Authorized>
        <a @onclick="Logout" href="javascrip:void(0)">Logout</a>
        </Authorized>
        <NotAuthorized>
            <a href="/login">Login</a>
        </NotAuthorized>
        </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private async Task Logout() {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAthenticationState(null);
        navigationManager.NavigateTo("/", true);
    }

}