@using Microsoft.AspNetCore.Components
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FuelStation.Web.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Manager,Cashier">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CustomerList">
                        <span class="oi oi-person" aria-hidden="true"></span> Customers
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Manager,Staff">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ItemList">
                        <span class="oi oi-box" aria-hidden="true"></span> Items
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Manager">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="EmployeeList">
                        <span class="oi oi-people" aria-hidden="true"></span> Employees
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }
}
